/* TABLET VIEW */
@media only screen and (max-width:992px) {
    #nav {
        display: none;
    }
    .mobile-menu {
        display: block;
        background-image: linear-gradient(#f3ebfa 50%, #E4D3F4 100%);
        padding: 10px 0px 10px 40px;
    }
    .dropdown-content {
        display: block !important;
        position: absolute;
        top: -400px;
        background-color: #f3ebfa;
        color: black;
        z-index: 1;
        transition: all 500ms;
    }
    .open {
        top: 54px;
    }
    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-size: 18px;
    }
    .me-summary {
        max-width: 70%;
    }
    .slideshow {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        gap: 10px;
        justify-content: center;
    }
    .skills-grid {
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto auto auto ;
        gap: 100px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .header {
        display: flex;
        height: auto;
        align-items: flex-start;
        background-image: url(../images/floral.svg);
        background-size: 40%;
        background-position: right top;
        background-repeat: no-repeat;
        width: 100%;
        text-align: left;
    }
    .container {
        width: 100%;
        max-width: 80%;
        margin: 0px auto;
    }
    .indv-question {
        margin-left: auto;
        margin-right: auto;
    }
    .details {
        font-size: 16px;
    }
    .indv-question {
        border-radius: 20px;
        border: 3px solid #30144B;
        background: #E4D3F4;
        max-width: 70%;
        padding: 15px;
        margin-bottom: 25px;
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        font-size: 48px;
        font-family: "Lexend", Futura, Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        color: #30144B;
        margin: 0px;
        margin-top: 25px;
    }
    h2 {
        font-size: 32px;
        font-family: "Lexend", Futura, Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        color: #30144B;
        margin: 0px;
        margin-bottom: 50px;
        text-align: center;
    }
    .h3 {
        font-size: 18px;
        font-family: "Lexend", Futura, Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        color: #30144B;
        margin: 0px;
    }
    summary {
        font-size: 16px;
        font-family: "Lexend", Futura, Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #30144B;
        margin: 0px;
    }
    p {
        font-size: .8em;
    }
}


/* MOBILE VIEW */
@media only screen and (max-width: 478px) {
    nav {
        display: none;
    }
    .header {
        display: flex;
        height: auto;
        align-items: flex-start;
        background-image: url(../images/floral.svg);
        background-size: 55%;
        background-position: right top;
        background-repeat: no-repeat;
        width: 100%;
        text-align: left;
    }
    .container {
        width: 100%;
        max-width: 80%;
        margin: 0px auto;
    }
    .section-title {
        width: 100%;
        max-width: 340px;
        margin: 0px auto;
    }
    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-size: 16px;
    }
    .me-summary {
        max-width: 80%;
    }
    .me {
        width: 80%;
        height: auto;
    }
    .slideshow {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .skills-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .svgs{
        width: 100px;
        height: auto;
        fill: #30144B;
    }
    h1 {
        font-size: 48px;
        font-family: "Lexend", Futura, Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        color: #30144B;
        margin: 0px;
        margin-top: 25px;
    }
    h2 {
        font-size: 32px;
        font-family: "Lexend", Futura, Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        color: #30144B;
        margin: 0px;
        margin-bottom: 50px;
        text-align: center;
    }
    .h3 {
        font-size: 18px;
        font-family: "Lexend", Futura, Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        color: #30144B;
        margin: 0px;
    }
    summary {
        font-size: 16px;
        font-family: "Lexend", Futura, Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #30144B;
        margin: 0px;
    }
    p {
        font-size: .8em;
    }
}