/* CSS GOES HERE */
nav {
    width: 100%;
    background-image: linear-gradient(#f3ebfa 50%, #E4D3F4 100%);
}
#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
#nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #000;
}
#nav a:hover{
    background-color: #F3EBFA;
}
.mobile-menu {
    display: none;
    position: relative;
    z-index: 999;
}
.hamburger {
    height: 29.5px;
}
a:hover {
    cursor: e-resize;
}
html {
    scroll-behavior: smooth;
    font-family: Futura, Helvetica, sans-serif;
}
body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
section {
    width: 100%;
    height: auto;
}
section:nth-child(odd) {
    background-color: #f3ebfa;
}
.about, .skills, .gallery {
    padding: 60px 0px 60px 0px;
    display: flex;
    flex-direction: column;
}
.section-title {
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
}
.header {
    display: flex;
    height: auto;
    align-items: flex-start;
    background-image: url(../images/floral.svg);
    background-size: 35%;
    background-position: right top;
    background-repeat: no-repeat;
    width: 100%;
    text-align: left;
    padding: 75px 0px 75px 0px;
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
}
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    max-width: 960px;
    gap: 40px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}
summary {
    font-size: 20px;
    font-family: "Lexend", Futura, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #30144B;
    margin: 0px;
}
.skills-grid {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto ;
    gap: 100px;
    justify-content: center;
}
.indv-skills{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    text-align: center;
}
.svgs{
    width: 150px;
    height: auto;
    fill: #30144B;
}
.slideshow {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto ;
    gap: 15px;
    justify-content: center;
}
.jpg {
    border: 0px solid #ddd;
    padding: 5px;
    width: 200px;
}
.FAQs {
    width: 100%;
    max-width: 960px;
    padding: 60px 0px 60px 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
.indv-question {
    border-radius: 20px;
    border: 3px solid #30144B;
    background: #E4D3F4;
    max-width: 80%;
    padding: 15px;
    margin-bottom: 25px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 72px;
    font-family: "Lexend", Futura, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #30144B;
    margin: 0px;
    margin-top: 25px;
}
h2 {
    font-size: 48px;
    font-family: "Lexend", Futura, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #30144B;
    margin: 0px;
    margin-bottom: 50px;
}
.h3 {
    font-size: 24px;
    font-family: "Lexend", Futura, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #30144B;
    margin: 0px;
    padding: 0px;
    /* max-width: 200px;
    animation-name: greeting;
    animation-duration: 2s; */
}
#topbutton {
    display: none; 
    position: fixed; 
    height: 50px;
    width: auto;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
  }  
footer {
    background-color: #E4D3F4;
    color: #30144B;
    padding: 10px;
    text-align: center;
    margin: 0px;
}
/* .about, .gallery {
    background-image: url(../images/floraltitle.svg);
    background-repeat: no-repeat;
    background-size: 350px auto;
    background-position: 40px 30px;
} */
/* @keyframes greeting {
    0% {transform: scale(1,1);}
    50% {transform: scale(2,2);}
    100% {transform: scale(1,1);}
} */
/* @keyframes greeting {
    0% {font-size: 24px;}
    50% {font-size: 48px;}
    100% {font-size: 24px;}
} */